/** @format */

.header {
	grid-column: full-start / col-end 6;
	background-image: linear-gradient(
			rgba($color-secondary, 0.93),
			rgba($color-secondary, 0.93)
		),
		url(../img/hero.jpeg);
	background-size: cover;
    background-position: center;
	padding: 8rem;
	padding-top: 4rem;

	display: grid;
	grid-template-rows: 1fr min-content 6rem 1fr;
	grid-template-columns: max-content;
	grid-gap: 1.5rem;
	justify-content: center;

	&__logo {
		height: 3rem;
		justify-self: center;
	}

	&__btn {
		align-self: start;
		justify-self: start;
	}

	&__seenon-text {
		color: $color-grey-light-2;
		font-size: 1.4rem;

		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		grid-gap: 2rem;
		&::before,
		&::after {
			background-color: currentColor;
			height: 1px;
			width: 100%;
			content: "";
			display: block;
			align-self: center;
		}

	}

	&__seenon-logos {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
		grid-gap: 3rem;
		img {
			height: 2.5rem;
			filter: brightness(70%);
		}
	}
}
